
#box1 { width: 65px;
}

#row1, #row2, #row3, #row4 {
  width: 29px
}


body {
  color: #6cacc5;
  font: 300 18px/1.6 "";
  padding: 5em 0 2em;
  text-align: center;
}

body {
    height: 200px;
    background-color:black;
}


h1 {
  margin: 10px;
  font: Bradley Hand, cursive;
}

input[type=button] {
  border-radius: 0%;
}

